{
    "keyBindings": {
        "quit": [
            "q",
            "C-c"
        ],
        "addEvent": [
            "a",
            "insert"
        ],
        "nextWeek": [
            "n",
            "right"
        ],
        "prevWeek": [
            "p",
            "left"
        ],
        "nextMonth": [
            "C-n",
            "S-right"
        ],
        "prevMonth": [
            "C-p",
            "S-left"
        ],
        "today": [
            "t",
            "home"
        ]
    }
}
